<!DOCTYPE html>
<html>
  <head>
    <title>Search Packages</title>
  </head>
  <body>
    <h1>Search Packages</h1>
    <form method="get" action="/search">
      <input type="text" name="query" placeholder="Search packages...">
      <input type="submit" value="Search">
    </form>
    <% if (results.length > 0) { %>
      <h2>Results:</h2>

        <table>
          <thead>
            <tr>
              <th>Package Name</th>
              <th>File Name</th>
              <th>Stars</th>
              <th>Downloads</th>
            </tr>
          </thead>
          <tbody>
            <% results.forEach(function(result) { %>
              <tr>
                <td><a href="/download/<%= result.filename %>"><%= result.nickname %></a></td>
                <td><%= result.filename %></td>
                <td><%= result.stars %></td>
                <td><%= result.downloads %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>

    <% } else if (query) { %>
      <p>No results found for "<%= query %>".</p>
    <% } %>
  </body>
<br>
<a href="/profile">Home</a>
</html>
